<% if page.current? %>
  <%= link_to url, class: 'item active', title: page, remote: remote do %>
    <li class="page-item page-link"><%= page %></li>
  <% end %>
<% else %>
  <%= link_to url, class: 'item', title: page, remote: remote do %>
    <li class="page-item page-link"><%= page %></li>
  <% end %>
<% end %>
