<div class="container">
    <div class="row">
        <% if current_user.present? %>
            <%= current_user.name %>
            <%= link_to t("sign_out"), destroy_user_session_path, method: :delete %>
        <% end %>
    </div>
</div>
